<div class="wrapper megamenu-wraper">
    <div class="container">
        <div class="region region-menu-bar">
            <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu first last odd">
                <div class="tb-megamenu tb-megamenu-main-menu">
                    <nav class="main-menu clearfix" id="main_menu">
                        <ul class="nav-menu">
                            <li data-id="218" data-level="1" data-type="menu_item" data-class="" data-xicon="fa fa-home" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega active active-trail">
                                <a href="https://www.awasbandhu.in/">
                                    <i class="fa fa-home"></i><span style="display: none;">Home		</span>
                                </a>
                            </li>
                            <li data-id="4478" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
                                <a href="OnlineRegistration.aspx" class="dropdown-toggle">Register Online Complaints</a>
                            </li>
                            <li data-id="3164" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
                                <a href="#" class="dropdown-toggle">
                                    User Manual     		<span>+</span>
                                </a>
                                <div data-class="" data-width="300" style="width: 300px; display: none;" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child sub-nav" id="accessible-megamenu-1524814262353-5" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1524814262353-4">
                                    <div class="mega-dropdown-inner">
                                        <div class="tb-megamenu-row row-fluid">
                                            <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-5" class="tb-megamenu-column span12  mega-col-nav">
                                                <div class="tb-megamenu-column-inner mega-inner clearfix">
                                                    <ul class="tb-megamenu-subnav mega-nav level-1 items-3">
                                                        <li data-id="4753" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
                                                            <a href="UserManual/For Online User-UM-Awas Bandhu.pdf" target="_blank" class="">Citizen User Manual</a>
                                                        </li>
                                                        <li data-id="1582" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
                                                            <a href="UserManual/FOR ADMIN Doc-UM-Awas Bandhu.pdf" target="_blank">User Manual for Admin </a>
                                                        </li>
                                                        <li data-id="1582" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
                                                            <a href="UserManual/User Login -UM-Awas Bandhu.pdf" target="_blank">User Manual for Department</a>
                                                        </li>
                                                        <li data-id="1582" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
                                                            <a href="UserManual/Backlog Entry-UM-Awas Bandhu.pdf" target="_blank">User Manual for Backlog Entry</a>
                                                        </li>
                                                        <li data-id="1582" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
                                                            <a href="UserManual/Reverse Track-UM-Awas Bandhu.pdf" target="_blank">User Manual for Reverse Track</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li data-id="4478" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
                                <a href="UserManual/FAQ-Awas Bandhu.pdf" target="_blank" class="dropdown-toggle">FAQ</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="main-menu clearfix" id="overflow_menu">
                        <ul class="nav-menu clearfix">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>