
<header>
    <div class="region region-header-top">
        <div id="block-cmf-content-header-region-block" class="block block-cmf-content first last odd">
            <div class="wrapper common-wrapper">
                <div class="container common-container ">
                    <div class="common-left clearfix" style="padding-top:8px;">
                        <strong>Technical Helpdesk:-</strong> <span style="padding-left:15px">Landline No :- 0522-4150500</span> <span style="padding-left:35px">Mail us at :- support@otpl.co.in</span>
                    </div>
                    <div class="common-right clearfix">
                        <ul id="header-nav">
                            <li class="ico-skip cf">
                                <a href="#skipCont" title="">Skip to main content</a>
                            </li>
                            <li class="ico-sitemap cf">
                                <a href="#" title="Sitemap">
                                    <img class="top" src="../../../assets/images/ico-sitemap.png" alt="Sitemap">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper header-wrapper">
        <div class="container header-container">
            <h1 class="logo">
                <a href="index.html" title="Home" rel="home" class="header__logo" id="logo">
                    <img class="" src="../../../assets/images/Seal_of_Uttar_Pradesh.png" alt="UP">
                    <strong lang="hi">आवास एवं शहरी नियोजन विभाग, उत्तर प्रदेश</strong>
                    <span>Housing &amp; Urban Planning Department, Uttar Pradesh </span>
                    <span>(Central Portal For Development Authorities, Uttar Pradesh) </span>
                </a>
            </h1>
            <div class="header-right clearfix">
                <div class="right-content clearfix">
                    <div class="float-element">
                        <a class="sw-logo" target="_blank" href="" title="">
                            <img class="rounded" src="../../../assets/images/yogi1.png" alt="CM">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
    </div>
    <app-auth-menu></app-auth-menu>
</header>





