<a id="skipCont" class="wrapper" routerLink="#"></a>
    <div id="fontSize" class="wrapper body-wrapper">
        <div class="bg-wrapper top-bg-wrapper gray-bg padding-top-bott">
            <div class="container">
                <div>
                    <div style="min-height: 320px; width: 40%; margin: 0 auto;">
                        <div class="col_center">
                            <div style="text-align: center">
                                <h1 class="loghed"><span>Login Panel</span></h1>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">User Name</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user blue"></span></span>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user blue"></span></span>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <div class="input-group">
                                        <img src="../../../assets/images/captcha.jpg" class="img-responsive capimg">
                                        <a class="caprefresh" routerLink="#"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Enter Security Pin</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user blue"></span></span>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                            </div> 
                            <div class="text-center col-sm-12">
                                <hr>
                                <button id="btn_submit" class="btn btn-success btn-sm" text="Login">Login</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a routerLink="ForgetPassword_Admin.aspx" style="color: blue;">Forgot Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>