<footer id="footer" class="region region-footer">
    <div id="block-block-6" class="block block-block first odd">
       
    </div>
    <div id="block-cmf-content-footer-region-block" class="block block-cmf-content last even">
        <div class="wrapper footer-wrapper">
            <div class="footer-top-wrapper">
            </div>
        </div>
        <div class="footer-bottom-wrapper">
            <div class="container footer-bottom-container">
                <div class="footer-content clearfix ">
                    <div class="logo-cmf">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
